* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Great Vibes", cursive; */
  /* font-family: "Nanum Myeongjo", serif; */
  /* font-family: 'Old Standard TT', serif; */
}
.container {
  background-color: rgb(187, 173, 255, 0.8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
.quote--app {
  width: 475px;
  height: 275px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 5px 5px 10px 3px rgb(0, 0, 0, 0.1);
  padding: 25px;
}
.main-heading {
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 32px;
  letter-spacing: -0.07em;
  font-weight: 800;
  margin-bottom: 20px;
}
.main-heading::after {
  content: "";
  display: block;
  width: 55px;
  border-bottom: 3px solid #3590f3;
  border-radius: 2px;
  position: relative;
  top: 3px;
  left: 180px;
}
.quote--text {
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
  font-family: "Old Standard TT", serif;
  letter-spacing: -0.01em;
}
.quote--text::before {
  content: "“";
}
.quote--text::after {
  content: "”";
}
.blockquote--footer {
  margin-bottom: 15px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.author {
  text-align: end;
  font-size: 15px;
  font-family: "Old Standard TT", serif;
}
.decorative-line {
  width: 20px;
  border-bottom: 2px solid #3590f3;
  border-radius: 2px;
  align-self: center;
}
.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}
.btn {
  width: 125px;
  padding: 8px;
  border-radius: 25px;
  border: none;
  font-family: "Libre Baskerville";
  font-size: 11px;
  cursor: pointer;
  transition: scale 0.2s ease-out;
}
.btn:hover {
  transform: scale(1.1);
}
.new-quote {
  background-color: #3590f3;
  color: #fff;
}
.tweet {
  background-color: #fff;
  border: 2px solid #3590f3;
}
.tweet--icon {
  position: relative;
  top: 3px;
  left: -3px;
}
.footer--page {
  background-color: black;
  color: #fff;
  text-align: center;
  min-height: 40px;
  font-size: 14px;
  padding: 10px;
}
.footer--page a {
  color: inherit;
  text-decoration: none;
}
